body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #161616;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.navbar-container{
    position: fixed;
    width: 100%;
    padding: 0;
    background-color: rgb(256,256,256,0.5);
    z-index:99 ;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
.brand{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: #161616;
}
.nav>ul{
    list-style-type: none;
}
.nav>ul>li{
    display: inline;
    padding: 0 0.5rem;
}
.nav>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    background-color:#320605;
    border-radius:5px;
    
}

.container{
    padding: 10vh 10vw;
    flex-direction: column;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 3.5rem;
}
.lg-btn{
    padding: 1rem 5rem;
    background-color: #320605;;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
 
    font-size: 1rem;
  color: white;
    text-decoration: none;
}
.bg-img{
    position: absolute;
    z-index: -4;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0.5;
}

form{
    display: flex;
    flex-direction: column;
}

.form-control{
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    width: 250px;
    max-width: 90%;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.navbar-bottom {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .navbar-bottom a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar-bottom a:hover {
    background-color: burlywood;
    color: black;
  }
