
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Tutor Connect</title>
</head>

<body>
    <div class="navbar-container">
        <nav class="nav">
            <span class="brand">
                TuConnect
            </span>
        </nav>
    </div>
    <img src="pexels-julia-m-cameron-4145038.jpg" alt="" class="bg-img">


    <div class="container">
        <h1>Get started!</h1>
        <a class="lg-btn" href="/student/register">
            Student
        </a>
        <a class="lg-btn" href="/teacher/register">
            Teacher
        </a>
    </div>





    <script src="../public/js/index.js"></script>
</body>
