<!DOCTYPE html>
<html>
<head>

<title>search tutor</title>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">

</head>
<body>
	
	<h2>ENTER DETAILS</h2>

	<form id="student" action="/student">
		<label  for="subject">Which subject would you like a tutor for?</label>
		<select name="subject" id="subject">
		  <option value="math">Math</option>
		  <option value="physics">Physics</option>
		  <option value="chemistry">Chemistry</option>
		  <option value="dance">Dance</option>
		</select>
			
		

		<br><br>
		<label  for="rate">Tutor Hourly rate</label>
		<select name="rate" id="rate">
		  <option value="100">100</option>
		  <option value="200">200</option>
		  <option value="300">300</option>
		  <option value="500">500</option>
		</select>

		
		<br><br>

		<label  for="exam">Select board/exam</label>
		<select name="exam" id="exam">
		  <option value="ICSE">ICSE</option>
		  <option value="CBSE">CBSE</option>
		  <option value="JEE">JEE</option>
		  <option value="NEET">NEET</option>
		</select>

		<br><br>

		<label  for="level">Select level</label>
		<select name="level" id="level">
		  <option value="basics">Basics</option>
		  <option value="intermediate">Intermediate</option>
		  <option value="advanced">Advanced</option>
		</select>


		

		
		<br><br>

		<button type="submit"> Search tutors! </button>




	</form>
	
	
		


</body>


</html>